.hc1y8y_1005/ODM_mozi.dtd

<!ELEMENT mozi (film+)>
<!ELEMENT film (rendezo+,szinesz,iro)>
<!ATTLIST film id CDATA #REQUIRED>
<!ATTLIST film mufaj CDATA #REQUIRED>
<!ELEMENT rendezo (#PCDATA)>
<!ATTLIST rendezo id CDATA #REQUIRED>
<!ATTLIST rendezo nev CDATA #REQUIRED>
<!ELEMENT szinesz (#PCDATA)>
<!ATTLIST szinesz id CDATA #REQUIRED>
<!ATTLIST szinesz nev CDATA #REQUIRED>
<!ELEMENT iro (#PCDATA)>
<!ATTLIST iro id CDATA #REQUIRED>