.hc1y8y_0928/ODM_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT orarend (ora+)>
<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap,tol,ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ATTLIST ora id CDATA #REQUIRED>
<!ATTLIST ora tipus CDATA #REQUIRED>